/*.penalty-card {
	font-size: 50px;
}*/

.yellow-card {
	color: #ffcd00;
}

.red-card {
	color: #ff0000;
}


/*.yellow-action-group {
	margin-left: 10px;
}
.red-action-group {
	margin-right: 10px;
}*/