<div class="container-fluid">
	<div class="row">
		<div class="col-2">
			<span class=""> {{ fencer.rCards }} </span>
		</div>
		<div class="col-2">
			<span class="material-icons penalty-card red-card">style</span>
		</div>
		<div class="col">
			<div class="btn-group-vertical red-action-group">
				<button class="btn" (click)="addRCard()">
					<span class="material-icons">add</span>
				</button>
				<button class="btn" (click)="removeRCard()" [disabled]="fencer.rCards === 0">
					<span class="material-icons">remove</span>
				</button>
			</div>


			
			<div class="btn-group-vertical yellow-action-group">
				<button class="btn" (click)="addYCard()">
					<span class="material-icons">add</span>
				</button>
				<button class="btn" (click)="removeYCard()" [disabled]="fencer.yCards === 0">
					<span class="material-icons">remove</span>
				</button>
			</div>
		</div>
		<div class="col-2">
			<span class="material-icons penalty-card yellow-card">style</span>
		</div>
		<div class="col-2">
			<span class=""> {{ fencer.yCards }} </span>
		</div>
	</div>
</div>