<aquila-visual-alert *ngIf="showAlert"></aquila-visual-alert>

<div class="container-fluid" *ngIf="!showAlert">
	<!-- Scores -->
	<div class="row">
		<div class="col-md-4">
			<!--<aquila-score [color]="'blue'" [position]="'right'" [score]=0></aquila-score>-->
			<aquila-fencer [fencer]="match.blue" color="blue" align="right"></aquila-fencer>
		</div>
		
		<div class="col-md-4 doubles">
			<aquila-doubles [counter]="match.doubles"></aquila-doubles>
		</div>

		<div class="col-md-4">
			<!--<aquila-score [color]="'yellow'" [position]="'left'" [score]=0></aquila-score>-->
			<aquila-fencer [fencer]="match.yellow" color="yellow" align="left"></aquila-fencer>
		</div>
	</div>

	<!-- Timer -->
	<div class="row">
		<aquila-timer class="col" (expire)="displayAlert()"></aquila-timer>
	</div>
</div>

<!-- FAB -->
<button mat-fab color="primary" class="reset" (click)="reset()">
	<span class="material-icons">restart_alt</span>
</button>